html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

input {
    outline: none;
}

.container {
    height: 100%;
    display: block;
    /* flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
}