.countdown {
    font-size: 2rem;
}

.race-container {
    display: none;

    height: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.race-participants {
    text-align: left;
    font-size: 1.5em;
    border-spacing: 20px;
}

.progress-bar-container {
    width: 300px;
    height: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: lightskyblue;
}

.race-text {
    width: 100%;
    background-color: rgb(241, 241, 241);
    border: 2px solid yellow;
    font-size: 1.75em;
    white-space: pre-wrap;
}

.current-char {
    display: none;
    width: 80%;
    height: 30%;
    background-color: white;
    font-size: 3em;
}

.previous-chars-highlight,
.leaved-participant{
    background-color: red;
}

.current-char-highlight {
    background-color: green;
}

.race-timer {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    font-size: 2em;
}

.race-text,
.current-char {
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
}